.card {
  height: 50px;
  width: 50%;

  background-color: #3438ab86;
  color: #ffff;

  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.card strong {
  font-size: 18px;
  font-weight: normal;
}